:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #ebf2f2;
  font-family: 'Prata', 'Lato';
}

nav {
  display: flex;
  justify-content: center;
  background-color: #919494;
  width: 100%;
  padding: 1rem;
}

a {
  margin: 0 35px;
  color: black;
}

h1 {
  text-align: center;
}

main {
  margin: 1rem;
}

img {
  width: 400px;
  height: 400px;
  border-radius: 5%;
  margin: 1rem;
}
